{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/temp.css' %}">
    <title>board-admin</title>
</head>

<body>
    {% comment %} 상단 메뉴바 {% endcomment %}
    <div class="nav-bar">
        <div class="nav-container">
            <div>
                <a href="#">
                    <img src="{% static 'img/white_logo.svg' %}" alt="" />
                </a>
            </div>
            <div class="nav-buttons">
                <div class="nav-topics">
                <a href="#">
                    <button>일상</button></a>
                <a href="#">
                    <button>요리</button></a>
                <a href="#">
                    <button>여행</button></a>
                <a href="#">
                    <button>영화</button></a>
                <a href="#">
                    <button>IT</button></a>
                </div>
                <div class="row-box">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
                    <a
                        href="{% url 'write' %}"
                        class="primary-button"
                        style="color: #1e1e1e">
                        Just Write!</a>
                    {% else %}
                    <a
                        href="{% url 'login' %}"
                        class="primary-button"
                        style="color: #1e1e1e">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% comment %} 상단: 메인 포스트 표시될 부분 {% endcomment %}
    <div class="top-container">
        <div class="container">
            <div class="post-info-box">
                <h3 class="main-title">'유저이름'님 환영합니다. </h3>
                <p class="main-info">이쪽부분은 수정버튼을 따로 추가 한 다음, main-info 테이블을 만들어서 관리하는 기능을 추가하면 어떤가 하는 생각이 듭니다.</p>
                <button class="readmore">READ MORE</button>
            </div>
            <div class= "thumnail-img">
                {% comment %} <img src="{% static 'img/card.svg'%}" class=""> {% endcomment %}
            </div>
        </div>
    </div>


    
    <header>
        <div class="search">
            <input type="text" id="searchInput" placeholder="Enter an ingredient...">
            <button id="searchButton">Search</button>
        </div>
    </header>

    <div id="mealList" class="meal-list"></div>
    <div class="modal-container">
        <button id="recipeCloseBtn" class="close-button">&times;</button>
        <div class="meal-details-content">
            <!-- Content from js will be inserted here -->
        </div>
    </div>

    




 
    
    <script src="{% static 'js/admin_script.js' %}"></script>
</body>
</html>