{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board_admin.css' %}">
    <title>board-admin</title>
</head>

<body>
    {% comment %} 상단 메뉴바 {% endcomment %}
    <div class="nav-bar">
        <div class="nav-container">
            <div>
                <a href="#">
                    <img src="{% static 'img/white_logo.svg' %}" alt="" />
                </a>
            </div>
            <div class="nav-buttons">
                <div class="nav-topics">
                <a href="#">
                    <button>일상</button></a>
                <a href="#">
                    <button>요리</button></a>
                <a href="#">
                    <button>여행</button></a>
                <a href="#">
                    <button>영화</button></a>
                <a href="#">
                    <button>IT</button></a>
                </div>
                <div class="row-box">
                <!-- {% comment %} {% if user.is_authenticated %}
                <a href="#" class="logout-button">Logout</a>
                <a
                    href="#"
                    class="primary-button"
                    style="color: #1e1e1e">
                    Just Write!</a>
                {% else %}
                <a
                    href="#"
                    class="primary-button"
                    style="color: #1e1e1e">Login</a>
                {% endif %} {% endcomment %} -->
                </div>
            </div>
        </div>
    </div>
{% comment %} 상단: 메인 포스트 표시될 부분 {% endcomment %}
    <div class="top-container">
        <div class="container">
            <div class="post-info-box">
                <h3 class="main-title">Lorem ipsum dolor</h3>
                <p class="main-info">가나다라마어 ㅣ러ㅣ너링러ㅣㅇ러ㅣㅏㅇ러ㅣㅇ러ㅣㅇ러이러ㅣ러ㅣ러ㅣ러ㅣㅓ리러가나다라마어 ㅣ러ㅣ너링러ㅣㅇ러ㅣㅏㅇ러ㅣㅇ러ㅣㅇ러이러ㅣ러ㅣ러ㅣ러ㅣㅓ리러</p>
                <button class="readmore">READ MORE</button>
            </div>
            <div class= "thumnail-img">
                {% comment %} <img src="{% static 'img/card.svg'%}" class=""> {% endcomment %}
            </div>
        </div>
    </div>
    
{% comment %} 메인 : 포스트 리스트 부분 {% endcomment %}
    <section class= "post-box">
        <div class= "post-container">
            <img src="{% static 'img/white_logo.svg' %}" class="card">
            <img src="{% static 'img/white_logo.svg' %}" class="card">
            <img src="{% static 'img/white_logo.svg' %}" class="card">
        </div>
        <div class="card-info-box">
            <h3>POST TITLE</h3>
        </div>
    </section>

    <div class="footer">
        <div class="footer-container">
            <p>Made with</p><span>Django</span>
        </div>
    </div>
</body>
</html>