{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="post.css"> {% endcomment %}

    <title>post</title>
</head>

<body>
    {% comment %} 상단 메뉴바 {% endcomment %}
    <div class="nav-bar">
        <div class="nav-container">
            <div>
                <a href="{%url 'board_client'%}">
                    {% comment %} <img src= "\django_blog_WhatIsJiho\blog_project\blog_app\static\img\black_logo.svg" alt="" /> {% endcomment %}
                    <img src="{% static 'img/black_logo.svg' %}" alt="" />
                </a>
            </div>
            <div class="nav-buttons">
                <div class="nav-topics">
                    <a href="{% url 'post_list_by_topic' topic='일상' %}">
                        <button>일상</button></a>
                    <a href="{% url 'post_list_by_topic' topic='요리' %}">
                        <button>요리</button></a>
                    <a href="{% url 'post_list_by_topic' topic='여행' %}">
                        <button>여행</button></a>
                    <a href="{% url 'post_list_by_topic' topic='영화' %}">
                        <button>영화</button></a>
                    <a href="{% url 'post_list_by_topic' topic='IT' %}">
                        <button>IT</button></a>
                </div>
                <div class="row-box">
                    {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="logout-button">Logout</a>
                <a
                    href="{% url 'write' %}"
                    class="primary-button"
                    style="color: #1e1e1e">
                    Just Write!</a>
                {% else %}
                <a
                    href="{% url 'login' %}"
                    class="primary-button"
                    style="color: #1e1e1e">Login</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section class= "container">
        <div class="post-zone">
            <div class= "post-box">
                <div class = "post-info">
                    <h5>조회수: {{ post.views }}</h5>
                    <h5>{{ post.create_at|date:"Y.m.d" }}</h5>
                    <h1>포스트 제목 : {{ post.title }}</h1>
                    <h5>작성자 : by {{ post.author }}</h5>
                    <h5 class="post-topic">토픽명 : {{ post.topic }}</h5>
                </div>
                <div class = "post-content">
                    {{ post.content|safe}}
                </div>
            </div>
            {% comment %} 추천포스트 영역 {% endcomment %}
            
            <div class="small-box">
                <div>
                    <h3>Other posts</br>you may like</h3>
                    {% for recommended_post in recommended_posts %}
                        <div class="recommend-box">
                            <a href="{% url 'post' recommended_post.id %}">
                                {{ recommended_post.image_tag|safe }}
                                {{ recommended_post.title }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% comment %} 수정삭제공유 버튼부분 {% endcomment %}

         <div class="button-box">
            {% if user.is_authenticated %}
            <div class="post-zone" style="gap:10px">
                {% comment %} <a href="{% url 'write' post.id %}"> {% endcomment %}
                <a href="{% url 'edit_post' post.id %}">
                <button class="edit-button">수정하기</button>
                </a>
                <form method="POST" action="{% url 'post' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="delete-button" value="true">
                <button type="submit" class="delete-button">삭제하기</button>
                </form>
            </div>
            {% endif %}
            <button class="share-button">공유하기</button>
        </div> 

        <!-- {% comment %} 다음글 이전글 {% endcomment %} -->
         {% if next_post %}
        <div class="another-post-box">
            <div class="another-post">
                <div>다음글</div>
                <div class="post-name">
                    <a href="{% url 'post' next_post.id %}"
                        >{{ next_post.title }}</a>
                </div>
            </div>
            <p>{{ next_post.create_at|date:"Y.m.d" }}</p>
        </div>
        {% else %}
        <div class="another-post-box"></div>
        {% endif %}

        <!-- 이전글 표시 -->
        {% if previous_post %}
        <div class="another-post-box">
            <div class="another-post">
                <div>이전글</div>
                <div class="post-name">
                    <a href="{% url 'post' previous_post.id %}"
                >{{ previous_post.title }}</a>
                </div>
            </div>
            <p>{{ previous_post.create_at|date:"Y.m.d" }}</p>
        </div>
        {% else %}
        <div class="another-post-box"></div>
        {% endif %}
        </div> 
    </section>
    
    <div class="footer">
        <div class="footer-container">
            <p>Made with <span>Django</span></p>
        </div>
    </div>
</body>
<script src="{% static 'js/post.js' %}"></script>
</html>