{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}">
    <title>write</title>
</head>
<body>
    {% comment %} 상단 메뉴바 {% endcomment %}
    <div class="container">
        <div class="nav-bar">
            <div class="nav-container">
                <div>
                    <a href="#">
                        <img src="{% static 'img/black_logo.svg' %}" alt="" />
                    </a>
                </div>
                <div class="nav-buttons">
                    <div class="nav-topics">
                    <a href="#">
                        <button>일상</button></a>
                    <a href="#">
                        <button>요리</button></a>
                    <a href="#">
                        <button>여행</button></a>
                    <a href="#">
                        <button>영화</button></a>
                    <a href="#">
                        <button>IT</button></a>
                    </div>
                    <div class="row-box">
                        {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="logout-button">Logout</a>
                    <a
                        href="{% url 'write' %}"
                        class="primary-button"
                        style="color: #1e1e1e">
                        Just Write!</a>
                    {% else %}
                    <a
                        href="{% url 'login' %}"
                        class="primary-button"
                        style="color: #1e1e1e">Login</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="post-container">
            <div class="big-box">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="write-box">
                  <input
                    type="text"
                    id="title"
                    name="title"
                    class="title"
                    placeholder="제목"
                    value="{{ post.title }}"
                  />

                  <div class="select-isDone">
                    <input type="radio" name="isDone" value="Y" checked>
                    <input type="radio" name="isDone" value="N">
                  </div>
      
                  <textarea
                    id="content"
                    name="content"
                  >{{ post.content}}</textarea>
      
                </div>
                <div class="post-info-box">
                  <button type="button" id="aiAutocompleteButton" class="ai-button">
                    <img id="ai-img" src="{% static 'img/ai.svg' %}" alt="AI 아이콘" />
                    <div id="loading-animation" style="display: none;">
                      <img src="{% static 'img/loading.gif' %}" alt="로딩 중" />
                    </div> 
                    AI 글 자동완성
                  </button>
                             
                  <div class="box">
                    <h2>TOPIC</h2>
                    <div>
                      <input type="radio" id="all" name="topic" value="전체" {% if topic == '전체' %}checked{% endif %} />
                      <label for="all">전체</label>
                    </div>
                    <div>
                        <input type="radio" id="daily" name="topic" value="일상" {% if topic == '일상' %}checked{% endif %}/>
                        <label for="daily">일상</label>
                    </div>
                    <div>
                      <input type="radio" id="cooking" name="topic" value="요리" {% if topic == '요리' %}checked{% endif %}//>
                      <label for="cooking">요리</label>
                    </div>
                    <div>
                      <input type="radio" id="travel" name="topic" value="여행" {% if topic == '여행' %}checked{% endif %}//>
                      <label for="travel">여행</label>
                    </div>
                    <div>
                      <input type="radio" id="movie" name="topic" value="영화" {% if topic == '영화' %}checked{% endif %}//>
                      <label for="movie">영화</label>
                    </div>
                    <div>
                      <input type="radio" id="it" name="topic" value="IT" {% if topic == 'IT' %}checked{% endif %}//>
                      <label for="it">IT / 전자기기</label>
                    </div>
                  </div>
                  <div class="box">
                    <div class="info">
                      <h2>UPLOAD INFO</h2>
                      <p>공개여부: {% if edit_mode %}전체공개{% else %}미공개{% endif %}</p>
                      <input type="file" name="file" id="imageUpload" style="display:none;">
                      <button type="button" class="button-line" onclick="document.getElementById('imageUpload').click();">이미지 업로드</button>
                    </div>
                    <div class="save-box">
                      {% if edit_mode %}
                        <input
                          type="submit"
                          name="delete-button" 
                          class="delete-button"
                          value="삭제"
                        />
                        <input
                          type="submit"
                          class="save-button"
                          value="수정"
                        />
                        {% else %}
                        <input type="button" name="temp-save-button" class="temp-save-button"
                        id="modal-open-btn"
                        value="임시저장" />
                        <input type="submit" name="save-button" class="save-button" value="글 작성" />
                        <input type="text" name='modify-id' class='modify-id' value=''>
                      {% endif %}
                    </div>
                  </div>

                </div>

                <div class="modal-wrapper">
                  <div class="modal-body">
                    <div class="modal-head">
                      <h1>임시저장목록</h1>

                      <ul>
                        <p>title</p>
                        {% for modi in modify %}
                        <button id='{{modi.id}}' class='modify-button' name = "{{modi.content}}"><p>{{modi.title}} / {{modi.create_at|date:' Y-m-d h:i:s '}}</p></button>
                        {% endfor %}
                      </ul>

                      <input type='submit' name='save-button' value="임시저장">
                      <input type='button' id='modal-close-btn' value="취소">
                    </div>
                  </div>
                </div>
          </form>
        </div>

      </div>
  
  
    </div>


<div class="footer">
    <div class="footer-container">
        <p>Made with</p><span>Django</span>
    </div>
</div>

</body>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    // html 문서가 완전히 파싱 된 후 이벤트 발생

    // 이미지 업로드 후 에디터 내에 이미지 삽입
    document.getElementById('imageUpload').addEventListener('change', function() {
      let formData = new FormData();
      formData.append('file', this.files[0]);

      fetch('{% url "image_upload" %}', {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
      .then(response => response.json())
      .then(data => {
        tinyMCE.activeEditor.insertContent(`<img src="${data.location}"/>`);
      })
      .catch(error => console.error('Error:', error));
    });

    document.querySelector('form').addEventListener('submit', function(event) {
      const topicRadios = document.querySelectorAll('input[name="topic"]');
      let isTopicSelected = false;

      topicRadios.forEach(radio => {
        if (radio.checked) {
          isTopicSelected = true;
        }
      });

      if (!isTopicSelected) {
        alert('TOPIC을 선택하세요.'); // 알람 표시
        event.preventDefault(); // 폼 제출 막기
      }
    });


    {% comment %} ai 자리 {% endcomment %}
});


var buttons = document.getElementsByClassName('modify-button');
const nRadioButton = document.querySelector('input[name="isDone"][value="N"]');
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener('click', function() {
        // 클릭된 버튼에서 title과 content 정보 가져오기
        var titleInput = document.getElementById('title');
        titleIn = this.innerText.split(' / ')[1];
        var content = this.getAttribute('name');

        // title과 content를 tinyMCE 에디터에 추가
        tinyMCE.activeEditor.setContent(content);
        titleInput.value = titleIn;
        modalWrapper.style.display = "none";
        document.getElementsByClassName('modify-id')[0].value = this.id;
        nRadioButton.checked = true;
      });
    }
    
</script>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/write_scripts.js' %}"></script>
</html>